In [10]:
import pandas
import psycopg2

In [11]:
connection=psycopg2.connect(database='sample')

In [12]:
pandas.read_sql("SELECT * FROM thing",connection)

                                   uuid       name data
0  aab8ba75-467e-4a3c-9244-e3c45f49bf87  something   {}

In [13]:
pandas.read_sql("SELECT COUNT(*) FROM thing",connection)

   count
0      1